<p>home works!</p>

<div class="container">
    <h2>{{ title }} app is runing</h2>
  </div>
  
  <div class="container">
    Formation: {{ libelleFormation }}
    <ul class="list-group row">
      <li class="list-group-item">ID:{{ personne.num}}
      <li class="list-group-item">Prenom: {{ personne.firstName }}</li>
      <li class="list-group-item">Nom: {{personne.lastName}}</li>
      <li class="list-group-item">Objet personne: {{personne}}</li>
      <li class="list-group-item">personne|json: {{personne | json}}</li>
      <li class="list-group-item">direBonjour(): {{direBonjour()}}</li>
    </ul>
  </div>
  <h3 class="w-100">liste:{{tab | json}}</h3>

  <div class='container'>
  <div  class="container row">
    <div class="col">
      <pre><code>
    &lt;ul class=&quot;list-group col-sm&quot;&gt;
    &lt;li *ngFor=&quot;let elt of tab&quot;&gt;&#x007B; &#x007B; elt}}&lt;/li&gt;
    &lt;/ul&gt;
    </code></pre>
      <ul class="list-group row">
        <li class="col" *ngFor="let elt of tab">{{elt}}</li>
      </ul>
    </div>
    <div class="container row">
    <pre><code class="bcontent">
      &lt;ul class=&quot;list-group col-sm&quot;&gt;
      &lt;li *ngFor=&quot;let elt of tab; index as i; first as isFirst;let isLast = last&quot;&gt;
        &#x007B; &#x007B; i}}: &#x007B; &#x007B; elt.toString().padStart(2, '0')&nbsp;}} : &#x007B; &#x007B;  isFirst }} : &#x007B; &#x007B;  isLast }}
        &lt;span class=&quot;btn btn-primary&quot; *ngIf=&quot;isFirst&quot;&gt;1er element&lt;/span&gt;
        &lt;span class=&quot;btn btn-secondary&quot; *ngIf=&quot;isLast&quot;&gt;dernier&lt;/span&gt;
        &lt;span style=&quot;background-color: orange;&quot; *ngIf=&quot;elt % 2 == 0&quot;&gt; Paire&lt;/span&gt;
        &lt;span style=&quot;color:white;background-color: rgb(167, 108, 0);&quot; *ngIf=&quot;elt % 2 !== 0&quot;&gt; Impair&lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
    </code></pre>
    <ul class="list-group col-sm">
      <li *ngFor="let elt of tab; index as i; first as isFirst;let isLast = last">
        {{i}}: {{ elt.toString().padStart(2, '0') }} : {{ isFirst }} : {{ isLast }}
        <span class="btn btn-primary" *ngIf="isFirst">1er element</span>
        <span class="btn btn-secondary" *ngIf="isLast">dernier</span>
        <span style="background-color: orange;" *ngIf="elt % 2 == 0"> Paire</span>
        <span style="color:white;background-color: rgb(167, 108, 0);" *ngIf="elt % 2 !== 0"> Impair</span>
      </li>
    </ul>
    </div>
    <div class="row">
      <pre>
        <code>
          &lt;ul class=&quot;list-group col-sm&quot;&gt;
          &lt;p *ngIf=&quot;tab[0] % 2 == 0; then pair else impair&quot;&gt;
            code jamais affiché
          &lt;/p&gt;
          &lt;li&gt;
            &lt;ng-template #pair&gt;
                &#x007B; &#x007B;  tab[0] }} est pair
            &lt;/ng-template&gt;
            &lt;ng-template #impair&gt;
                &#x007B; &#x007B;  tab[0] }} est impair
            &lt;/ng-template&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
        </code>
      </pre>
      <ul class="list-group col-sm">
            <p *ngIf="tab[0] % 2 == 0; then pair else impair">
              code jamais affiché
            </p>
            <li>
              <ng-template #pair>
                  {{ tab[0] }} est pair
              </ng-template>
              <ng-template #impair>
                  {{ tab[0] }} est impair
              </ng-template>
          </li>
      </ul>
  </div>
  <div class="row">
    <pre><code>
      &lt;ng-container *ngFor=&quot;let elt of tab&quot;&gt;
      &lt;li *ngIf=&quot;elt % 2 == 0; then pair else impair&quot;&gt;
        code jamais affiché
      &lt;/li&gt;
        &lt;ng-template #pair&gt;
          &lt;li&gt;
            &#x007B; &#x007B;  elt.toString().padStart(2, '0') }} est pair
          &lt;li&gt;
        &lt;/ng-template&gt;
        &lt;ng-template #impair&gt;
          &lt;li&gt;
            &#x007B; &#x007B;  elt.toString().padStart(2, '0') }} est impair
          &lt;li&gt;
        &lt;/ng-template&gt;
      &lt;/ng-container&gt;
    </code>
    </pre>
    <ul class="list-group col-sm">
      <ng-container *ngFor="let elt of tab">
      <li *ngIf="elt % 2 == 0; then pair else impair">
        code jamais affiché
      </li>
        <ng-template #pair>
          <li>
            {{ elt.toString().padStart(2, '0') }} est pair
          <li>
        </ng-template>
        <ng-template #impair>
          <li>
            {{ elt.toString().padStart(2, '0') }} est impair
          <li>
        </ng-template>
      </ng-container>
    </ul>
  </div>

    <div class="list-group col-sm">
      <p>Mes notes d'informatique</p>
      <pre>
        <code>
        &lt;ng-container *ngFor=&quot;let elt of tab&quot;&gt;
        &lt;ng-container [ngSwitch] = &#39;true&#39;&gt; 
          &lt;li *ngSwitchCase=&quot;elt &gt; 0 &amp;&amp; elt &lt;= 9&quot;&gt;
            &#x007B; &#x007B; elt}} échec
          &lt;/li&gt;
        </code>
      </pre>
      <ul>
          <ng-container *ngFor="let elt of tab">
            <ng-container [ngSwitch] = 'true'> 
              <li *ngSwitchCase="elt > 0 && elt <= 9">
                {{ elt.toString().padStart(2, '0') }} Echec
              </li>
              <li *ngSwitchCase="elt >= 10 && elt <= 13">
                {{elt}} Moyen
              </li>
              <li *ngSwitchCase="elt > 13 && elt <= 16">
                {{elt}} Bien
              </li>
              <li *ngSwitchCase="elt > 16 && elt <= 20">
                {{elt}} Très bien
              </li>
              <li *ngSwitchCase="elt > 20">
                {{elt}} Chanceux !
              </li>
            </ng-container>
          </ng-container>
      </ul>
    </div>
  
  </div>
</div>

<div class="container">
    <p>Liste de personnes=Personnes[]</p>
    <ul class="">
        <ng-container *ngFor="let elt of personnes; index as i">
        <li class="col" [ngClass]="i % 2 == 0 ? 'rouge' : 'bleu' ">
            {{ elt }}
        </li>
        </ng-container>
    </ul>
    <ul class="row">
        <li class="list-group-item col">
            <p [textContent]=personne.name [ngStyle]="{color: couleur}"></p>
            </li>
            <li class="list-group-item col">
            <p [ngStyle]='{color: getRandomColor(), backgroundColor : getBackgroundColor()}'>
                {{ getRandomPersonne() }}
            </p>
        </li>
        <!-- [ngStyle] permet d'attribuer de nouvelles classes à un élément HTML 
        s'utilise avec le property binding [] pour recuperer des valeus définis 
        dans le code-behind ou dans le feuille de style-->
        <li class="list-group-item row">
            <pre class="col">
                <code>
                &lt;p [ngClass]=&quot;&#x007B; &#39;rouge&#39;: true}&quot;&gt;
                &#x007B; &#x007B;  getRandomPersonne() }}
                &lt;/p&gt;
                </code>
            </pre>

            <p class="col" [ngClass]="{'rouge': true}">
                {{ getRandomPersonne() }}
            </p>
        </li>
    </ul>
    <ul>
        <li>
            <p>Si John Doe est tiré au sort, il sera sur <span class="rouge">fond rouge</span>.</p>
        </li>
        <li class="list-group-item col">
            <p [ngClass]="{'rouge': nom == 'John Doe'}">
                {{ nom }}
            </p>
        </li>
        <li class="list-group-item col">
            <p [ngClass]="{'rouge': nom == 'John Doe', 'bleu': nom != 'John Doe'}">
                {{ nom }}
            </p>
        </li>
        <li class="list-group-item col">
            <p [ngClass]="nom == 'John Doe' ? 'rouge' : 'bleu'">
                {{ nom }}
            </p>
        </li>
    </ul>

</div>