<h1>Un Employe</h1>

<div class="container row">
    <div class="employeBox col">
        <h2>Fiche</h2>
        <div>
            <p><strong>ID:</strong><span>{{ id }}</span></p>
        </div>
        <div>
            <p><strong>Prénom:</strong><span>{{ employe.name }}</span></p>
        </div>
        <div>
            <p><strong>Nom:</strong><span>{{ employe.surname }}</span></p>
        </div>
        <div>
            <p><strong>Age:</strong><span>{{ employe.age }} ans</span></p>
        </div>
        <div>
            <p><strong>Adresse:</strong></p>
            <ul *ngFor="let item of employe.address | keyvalue">
                <li><strong>{{ item.key }}</strong>: {{ item.value }}</li>
            </ul>
            <div class="buttonsBox">
                <button (click)="updateEmploye(employe.id)" class="btn btn-primary">
                    UPDT
                </button>
            </div>
        </div>
    </div>
    <div class="code col">
        <h2>Code Json</h2>
        <pre><code>{{ employe | json }}</code></pre>
    </div>
</div>