<div class="container">

    <form>
        <label for="result">Resultat</label>
        <input type="text" name="result" [(ngModel)]="result">

        <ul class="row">
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(9)">9</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(8)">8</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(7)">7</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(6)">6</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(5)">5</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(4)">4</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(3)">3</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(2)">2</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(1)">1</button></li>
            <li class="col-sm-4"><button class=" btn btn-success" (click)="op('+')">+</button></li>
            <li class="col-sm-4"><button class=" btn btn-success" (click)="op('-')">-</button></li>
            <li class="col-sm-4"><button class=" btn btn-primary" (click)="btnClick(0)">0</button></li>
            <li class="col-sm-4"><button class=" btn btn-success" (click)="op('*')">x</button></li>
            <li class="col-sm-4"><button class=" btn btn-success" (click)="op('/')">/</button></li>
            <li class="col-sm-4"><button class=" btn btn-success" (click)="op('=')">=</button></li>
        </ul>
            <input class="btn btn-danger" (click)="reset()" type="reset" value="RESET"/>
    </form>
</div>
