<h1>Une Personne</h1>

<div class="container row">
    <div class="personneBox col">
        <h2>Fiche</h2>
        <div>
            <p><strong>NUM/ID:</strong><span>{{ personne.num }}</span></p>
        </div>
        <div>
            <p><strong>Prénom:</strong><span>{{ personne.firstName }}</span></p>
        </div>
        <div>
            <p><strong>Nom:</strong><span>{{ personne.lastName }}</span></p>
        </div>
    </div>
    <div class="code col">
        <h2>Code Json</h2>
        <pre><code>{{ personne | json }}</code></pre>
    </div>
</div>